{% extends "home.html" %}
{% block content2 %}

{% endblock%}

{% block content1 %}

<div class="topcorner">
<a href="/profile/"> {{USER}} <br> profile </a>
<br>
<a href="/home/"> <button class="btn btn-success" type="submit"> Home </button></a>
<br>
<form action= "/logout/" method= "POST">
<input type="submit" class="btn btn-info" value="Log Out">
</form>
</div>
<center>
<h1> Input text for your post! </h1>
<br><br><br>
<form action="/profile/" method="post">
<textarea class="form-control" rows="5" placeholder="Type something" name="postText"></textarea>
<br>
<input class="btn btn-primary" type="submit" value="Submit" name="submit" >
<input class="btn btn-danger" type="submit" value="Cancel" name="cancel">
</form>
</center>
{% endblock %}
