{% extends "home.html" %}
{% block content1 %}
<div class="topcorner">
{{USER}}
<form action= "/logout/" method= "POST">
<input type="submit" class="btn btn-info" value="Log Out">
</form>
</div>
	<h1>
		{{USER}}'s Blog
	</h1>
	Click the button with the post number to edit that post
	{% for entries in entryList %}
	<form action="/editPost/" method = "POST">
		<br>
		{{entries[0]}}
		<input class="btn btn-default" type="submit" value={{entries[1]}} name="edit">
		<br>
	</form>
		------------------------------
	{% endfor %}
  <div class="bottomcorner">
<a href="/newpost/"> <button class="btn btn-default" type="submit">Make New Post!</button> </a>
</div>
{% endblock %}
